/* ==========================================================================
	#pjCfFormHead
========================================================================== */
#pjWrapper .pjCfForm .pjCfFormHead { background: #f8f8f6; text-align: center; }
#pjWrapper .pjCfFormTitle { color: #55af71; font-weight: bold; text-transform: uppercase; }

/* ==========================================================================
	#pjCfFormBody
========================================================================== */
#pjWrapper .pjCfForm .pjCfFormBody { background: #e3e3e1; }
#pjWrapper .pjCfForm label,
#pjWrapper .pjCfForm .control-label,
#pjWrapper .pjCfForm input[type="file"] { color: #4d4d4d; }
#pjWrapper .pjCfForm a,
#pjWrapper .pjCfForm .bootstrap-timepicker .input-group-addon { color: #9acf5b; }
#pjWrapper .pjCfForm a:hover,
#pjWrapper .pjCfForm .bootstrap-timepicker .input-group-addon:hover { color: #77a63e; }

#pjWrapper .pjCfForm .pjCfFormButton { border: 0; border-bottom: 2px solid #77a63e; background: #9acf5b; color: #fff; text-transform: uppercase; }
#pjWrapper .pjCfForm .pjCfFormButton:hover { border-color: #77a63e; background: #77a63e; color: #fff; }